@model YummyProject.Models.ChefSocial
@{
    ViewBag.Title = "UpdateChefSocial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Şeflerin Sosyal Medya Güncelleme Sayfası</h2>

<form method="post">

    @Html.HiddenFor(x => x.ChefSocialId)
    @Html.HiddenFor(x => x.ChefId)
    <label>Name</label>
    @Html.TextBoxFor(x => x.SocialMediaName, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.SocialMediaName) </p>
    <br />
    <label> Title</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.Icon) </p>
    <br />
    <label> Description</label>
    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.Url) </p>
    <br />

    <button class="btn btn-outline-success">Güncelle</button>

</form>