@model YummyProject.Models.Testimonial
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Referans Güncelleme Sayfası</h2>
<br />

<form method="post">

    @Html.HiddenFor(x => x.TestimonialId)
    <label>Resim</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.ImageUrl) </p>
    <br />
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.NameSurname) </p>
    <br />
    <label>Ünvanı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.Title) </p>
    <br />
    <label>Mesaj</label>
    @Html.TextAreaFor(x => x.Comment, 3, 1, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.Comment) </p>
    <br />
    <label>Puanı (1 ile 5 arasında bir rakam yaz)</label>
    @Html.TextBoxFor(x => x.Rating, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.Rating) </p>
    <br />

    <button class="btn btn-outline-success">Güncelle</button>

</form>