@model List<YummyProject.Models.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h2>Hizmetler</h2>
<br />

<table class="table table-bordered">

    <thead>

        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Icon</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

    </thead>

    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Icon</td>
                    <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-info">Güncelle</a></td>
                </tr>
            }
        }

        else
        {
            <tr>
                <td colspan="5" class="text-center">Herhangi bir hizmet yok.</td>
            </tr>
        }
    </tbody>

</table>
<br />

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert"> @TempData["ErrorMessage"] </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert"> @TempData["SuccessMessage"] </div>
}