@model YummyProject.Models.Feature
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Öne Çıkan Alan Güncelleme Sayfası</h2>
<br />

<form method="post">

    @Html.HiddenFor(x => x.FeatureId)
    <label>Resim</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.ImageUrl) </p>
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.Title) </p>
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.Description) </p>
    <br />
    <label>Video Url</label>
    @Html.TextBoxFor(x => x.VideoUrl, new { @class = "form-control" })
    <p class="text-danger"> @Html.ValidationMessageFor(x => x.VideoUrl) </p>
    <br />

    <button class="btn btn-outline-info">Güncelle</button>

</form>