@model List<YummyProject.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h2>Ürünler</h2>
<br />

<table class="table table-bordered">

    <thead>

        <tr>
            <th>#</th>
            <th>Ürün Resmi</th>
            <th>Ürün Adı</th>
            <th>İçindekiler</th>
            <th>Fiyat</th>
            <th>Kategorisi</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td><img src="@item.ImageUrl" alt="@item.ProductName" width="100" /></td>
                <td>@item.ProductName</td>
                <td>@item.Ingredients</td>
                <td>@item.Price</td>
                <td>@item.Category.CategoryName</td>
                <td>
                    <a href="@Url.Action("DeleteProduct", new { id = item.ProductId })" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                        Sil
                    </a>
                </td>
                <td><a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-info">Güncelle</a></td>
            </tr>
        }
    </tbody>

</table>
<br />

<a href="/Product/AddProduct" class="btn btn-primary">Yeni Ürün Ekle</a>