@model List<YummyProject.Models.Message>
@{
    ViewBag.Title = "ReadMessages";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h2>Okunmuş Mesajlar</h2>
<br />

<table class="table table-bordered table-hover">

    <thead>

        <tr>
            <th>#</th>
            <th>Gönderen Ad-Soyad</th>
            <th>Email</th>
            <th>Konu</th>
            <th>Mesaj</th>
            <th>Sil</th>
        </tr>

    </thead>

    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Subject</td>
                    <td>@item.MessageContent</td>
                    <td>
                        <a href="@Url.Action("DeleteReadMes", new { id = item.MessageId })" class="btn btn-danger" onclick="return confirm('Okunmuş mesajı silmek istediğinize emin misiniz?')">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </td>
                </tr>
            }
        }

        else
        {
            <tr>
                <td colspan="6" class="text-center">Okunmuş mesaj yok.</td>
            </tr>
        }
    </tbody>

</table>
<br />

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert"> @TempData["ErrorMessage"] </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert"> @TempData["SuccessMessage"] </div>
}
